<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>webscrapper</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark" id="main-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="#">[APP NAME]</a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="shop.html">ShopS</a></li>
                    <li class="nav-item"><a class="nav-link active" href="com.html">Compare</a></li>
                    <li class="nav-item"><a class="nav-link" href="wishlist.html">Wishlist</a></li>
                </ul>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link d-flex align-items-center" aria-expanded="false" data-toggle="dropdown" id="userprofile-btn" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-person-circle">
                            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"></path>
                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"></path>
                        </svg><span class="ml-2 d-none d-sm-block">Username</span></a>
                    <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-person-circle">
                                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"></path>
                                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"></path>
                            </svg><span class="ml-2">Profile</span></a><a class="dropdown-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-lock-fill">
                                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"></path>
                                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"></path>
                            </svg><span class="ml-2">Logout</span></a></div>
                </li>
            </ul>
        </div>
    </nav>
    <main class="p-3">
        <div class="container">
            <div class="page-title">
                <h5>Compare Products</h5>
                <p>Compare Products</p>
            </div>
            <div class="table-responsive table-bordered">
                <table class="table table-striped table-bordered table-sm">
                    <tbody>
                        <tr class="header-row">
                            <td colspan="3">Shop Details</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Shop Name</td>
                            <td>Edgars</td>
                            <td>Edgars</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Shop Location</td>
                            <td>Location Here---</td>
                            <td>Location Here ---</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Website</td>
                            <td>Website Here---</td>
                            <td>Website Here ---</td>
                        </tr>
                        <tr class="header-row">
                            <td colspan="3">product Details</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Product Name</td>
                            <td><strong>Men's Polo Shirt</strong></td>
                            <td><strong>Men's Polo Shirt Floral</strong></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Image</td>
                            <td class="text-center"><img class="table-img" src="../static/assets/img/s7-1429056_alternate10.webp"></td>
                            <td class="text-center"><img class="table-img" src="../static/assets/img/s7-1436039_alternate10.jpg"></td>
                        </tr>
                        <tr class="header-row">
                            <td colspan="3">PRICES</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Amount</td>
                            <td class="text-right">110.00</td>
                            <td class="text-right">125.04</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Amount With Tax</td>
                            <td class="text-right">110.00</td>
                            <td class="text-right">125.04</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Currency</td>
                            <td class="text-right">USD</td>
                            <td class="text-right">USD</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold"></td>
                            <td class="text-right"><button class="btn table-btn btn-block btn-dark" type="button">Remove</button></td>
                            <td class="text-right"><button class="btn table-btn btn-block btn-dark" type="button">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>