{% extends "layout/private-base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Login Page</title>
{% endblock %}
{% block header %}
    <div class="page-title">
        <h5>Register Page</h5>
        <p class="mb-0">Create a new user Profile</p>
    </div>
{% endblock %}
{% block content %}
    <div class="mx-auto" style="max-width: 800px">
        {% crispy form %}
        <a href="{% url "LoginView" %}" class="nav-link text-center text-danger">
            Already Registered? Login.
        </a>
    </div>


{% endblock %}

