{% extends "layout/private-base.html" %}
{% block title %}
    <title>Shops</title>
{% endblock %}
{% block header %}
    <div class="page-title">
        <h5>Shops</h5>
        <p class="mb-0">Available stores</p>
    </div>
{% endblock %}
{% block content %}

    <div class="row pt-3">
        {% for shop in shops %}
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
                <div class="card shop-card">
                    <div class="card-body p-2 d-flex flex-column">
                        <h6 class="text-muted card-subtitle mb-2">{{ shop.name }}</h6>
                        <img class="shop-card-img mb-3" src="/media/{{ shop.logo }}">
                        <a class="btn shop-card-btn" role="button" href="/shops/{{ shop.id }}">
                            view Shop
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
{% endblock %}

